body{
    font-family: Arial, sans-serif;
    background: #e8f3f1;
    margin: 0;
    padding: 40px 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
}

#hasil {
    margin-top: 25px;
    text-align: left;
}